body, td {
    font-family: "Courier";
    font-size: 48;
    text-transform: uppercase;
    color: yellow;
}

button {
    font-family: "Courier";
    font-size: 30;
    text-transform: uppercase;
    color: black;
}
